# Ignore all files in the directory
*

# Don't ignore .gitignore file itself
!.gitignore

# Don't ignore .gitkeep files (to keep empty folders in the repo)
!.gitkeep


#/data/*   # Ignore all files in data folder, except .gitkeep
# !/data/.gitkeep  # Don't ignore .gitkeep

